body{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.titulo{
    color: burlywood;
    font-size: 42px;
    margin-left: 15px;
}

.contenedorProductos{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    min-width: max-content;
    margin: 15px;
    box-shadow: 0 0 0 1px #d3d3bf;
    padding: 10px;
}
.producto{
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 5px #958b8b ;
}
.productoImagen{
    width: 120px;
    margin-right: 20px;
}
.productoTextos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productoDescripcion{
    margin: 10px 15px;
    font-size: 15px;
    font-family: sans-serif;
    color: aliceblue;
}
.productoTextoValores{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: 15px;
}
.productoStock{
    color: #686868;
    font-style: italic;
    margin: 5px;
}

.productoTitulo{
    color: cornsilk;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

.productoPrecio{
    color: darkgreen;
    text-align: right;
    font-size: 18px;
    margin: 0;
    margin-top: auto;
}

.btnLink{
    margin: 15px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #15a3b1;
    color: white;
    display: block;
    width: fit-content;
    border-radius: 19px;
    border: 1px solid #15a3b1;
    transition: 0.3s;
    font-family: system-ui;
}
.btnLink:hover{
    background-color: white;
    color: #15a3b1;
    box-shadow: 0 0 15px #409d83;
}

.inputForm{
    box-sizing:border-box;
    margin: 5px 0;
    width: 100%;
}
.btnLink--chat{
    margin: 10px auto;
}
.btnLink--form{
    width: fit-content;
    margin: 5px auto;
    padding: 6px 13px;
    background: gray;
    border-color: gray;
}
.btnLink--form:hover{
    background-color: white;
    color: gray;
    box-shadow: 0 0 10px #aab8b4;
}

.contenedorNotFound{
    background-color: #ffeebb;
    padding: 10px;
}
.textoNotFound{
    margin: 5px;
    color: #775f16;
    font-weight: 700;
    font-family: sans-serif;
}
.contenedorProductos--chat{
    background-color: #ebdddd;
}
#chatForm{
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#chat{
    min-height: 20px;
    margin: 10px 0;
    border-top: 1px solid #bba9a9;
}
.mensaje{
    display: flex;
    margin: 0 10px;
    align-items: center;
}
.mensajetext{
    display: inline-block;
}
.mensajeAvatar{
    width: 30px;
    margin-right: 10px;
}
.contenedorTexto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mensajetext--user{
    color: blue;
    font-weight: 600;
}
.textoPorcentual{
    color: #673ab7;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
.mensajetext--date{
    color:brown;
}
.mensajetext--message{
    color: green;
    font-style: italic;
}